/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@font-face {
  font-family: 'Corbel_e';
  src: url('/fonts/Corbel.eot');
  src: url('/fonts/Corbel.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Corbel.woff2') format('woff2'),
       url('/fonts/Corbel.woff') format('woff'),
       url('/fonts/Corbel.ttf') format('truetype'),
       url('/fonts/Corbel.svg#Corbel') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    background-color: #F4F5E7;
    margin: 0px;
    padding: 0xp;
    font-family: Corbel, Corbel_e;
}

/* Топ меню */

.top_line{
    height: 5px;
    background-color: #BF4000;
}

.basic_tmp_menu{
    text-align: center;
    height: 50px;
    background-color: #E8E9DA;
    border-bottom: 1px solid #BABABA;
}

.basic_tmp_menu ul{
    display: block;
    list-style: none;
    margin: 0px;
    padding: 18px;
}

.basic_tmp_menu ul > li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
    border-left: 1px solid #BBBCAF;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.basic_tmp_menu > ul > li:last-child{
    border-right: 1px solid #BBBCAF;
}

.basic_tmp_menu ul > li a:link,
.basic_tmp_menu ul > li a:visited{
    text-decoration: none;
    color: #9C3401;
}

.basic_tmp_menu ul > li a:hover{
    color: #C64403;
}

/* Топ меню END*/


/* Випадаюче меню START */

.drop_menu{
    position: relative;
}

.drop_menu > a{
    padding-bottom: 30px;
}

.drop_menu:hover .drop_menu_list{
    display: block;
}

ul.drop_menu_list{
    background-color: #E8E9DA;
    width: 170px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 33px;
    display: none;
}

ul.drop_menu_list > li{
    font-size: 14px;
    text-align: left;
    display: block;
    border-left: none;
    padding: 12px 5px 7px 8px;
    border-bottom: 1px solid #DDDDD7;
}

/* Випадаюче меню END */



/*Футер START*/

.footer{
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #DEDFCF;
    border-top: 1px solid #BABABA;
}

.footer .footer_block .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

/*Футер END*/



/*Сторінка додавання категорії START*/

.delete_col{
    text-align: left;
    width: 20px;
}

.del_word{
    text-align: center;
}


.delete_col img{
    width: 18px;
    height: 18px;
}

.categories_table{
    border-collapse: collapse;
    margin: 0px auto;
    width: 220px;
}

.categories_table td{
    border-bottom: 1px solid #E1E1E1;
    text-align: left;
}

.add_category_form{
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.add_category_form input[type="submit"]{
    padding: 5px;
    margin-top: 10px;
}

/*Сторінка додавання категорії END*/

/*Виведення помилок START*/

.error{
    color: red;
    text-align: center;
    font-size: 12px;
}

.simple_error{
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

/*Виведення помилок END*/

.content{
    padding-bottom: 50px;
}

.form_main_container legend{
    text-align: left;
    border: 1px #B4B4B4 solid;
    border-radius: 3px;
    padding: 0px 30px;
    color: #993300;
    font-size: 12px;
}

.form_main_container fieldset{
    padding: 20px;
    border: 1px #B4B4B4 solid;
    border-radius: 5px;
}

.form_main_container{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.fields_list input{
    display: block;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 18px;
    width: 220px;
    color: #666666;
    border: 1px #D0D0D0 solid;
    padding: 7px 7px;
}

.word_add_file_input{
    margin-top: 25px;
}

.word_add_button{
    text-align: center;
}

.word_add_select{
    background-color: #FFFFFF;
    border: 1px #D0D0D0 solid;
    padding: 7px 2px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    width: 235px;
    font-size: 14px;
    color: #444444;
}

.fields_list{
    text-align: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.fields_list > li{
    color: #993300;
    font-size: 16px;
}

.fields_list > li span{
    margin-left: 5px;
}

.text_inputs_container{
    display: inline-block;
}

.form_main_container button{
    background-color: #BF4000;
    border-width: 0px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    color: #F6F6F6;
}

input[type="file"]{
    font-size: 12px;
}

.form_main_container button:hover{
    background-color: #C6551C;
    cursor: pointer;
}

.form_main_container input:hover,
.form_main_container input:focus{
    border: 1px #b33c00 solid;
}

.form_main_container select:hover,
.form_main_container select:focus{
    border: 1px #b33c00 solid;
}

/*Виведення всіх слів START*/

div.word_list_container > div.pagination{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

div.word_list_container > div.pagination > a{
    padding-left: 5px;
    color: #9C3401;
}

div.word_list_container > div.pagination > a:hover{
    color: #DD6400;
}

div.word_list_container > div.pagination > a.active_page{
    color: #000000;
    font-weight: bold;
}

table.all_words{
    border-collapse: collapse;
    width: 70%;
    margin: 0px auto;
    margin-top: 10px;
}

table.all_words td{
    border-bottom: 1px solid #E4E5D8;
}

table.all_words tr:hover{
    background-color: #E4E5D8;
}

table.all_words th{
    text-align: left;
    padding: 5px 0px;
}

#audio{
    display: none;
}

img.play_audio{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 33px;
}

/*Виведення всіх слів END*/




/* Редагування слів START */

.editing_word{
    margin-top: 20px;
}

.editing_word table{
    border-collapse: collapse;
    width: 594px;
    margin: 0px auto;
    padding: 20px;
}

.editing_word table td,
.editing_word table th{
    text-align: left;
    border: 1px #B4B4B4 solid;
    padding: 2px 3px 2px 7px;
}

.editing_word table th{
    color: #B03B00;
}


.editing_word table .word_title{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: #A03500;
    font-size: 17px;
    padding: 10px;
    position: relative;
}

.editing_word table .play_audio{
    margin-left: 3px;
    margin-bottom: -3px;
}

.editing_word .icons{
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
}

.editing_word .edit_icon{
    right: 35px;
}
.editing_word .delete_icon{
    right: 7px;
}

/* Редагування слів END */